.mainfeed {
    width: 30%;
    background-color: #15181c;
    border-radius: 3%;
    padding: 3rem;
}
.addPost {
    width:25%;
    margin-top: 1rem !important;
    
}

.disabledPostButton {
    opacity: 20%;
    color: white !important;
    background-color:#1976d2 !important;
}
.userpost {
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
}

.userpost-footer {
    display:flex;
    justify-content: space-between;
}
.apost {
    display: flex;
    width:100%;
    gap:2rem;
    margin: 2.5rem 0rem;
}

.pfp-img-container {
    width: 100%;
}
.pfp-img-container img {
    width: 100%;
}
.mainpost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upperpost {
    display: flex;
    align-items: center;
    width: 100%;
    gap:1rem;
}
.usertags {
    display: flex;
    flex-direction: row;
}
.upperpost p {
    height: 0px;
}
.post-msg {
    width: 100%;
}

.post-message {
    padding: 1rem;
}

.textField_label {
    color:white !important;
}


.post-btns {
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.post-btn {
    color:#343a40;
}

.replying-to {
    font-size: .8rem;
}

.usernameTag {
    color:grey;
}
.like-icon {
    position: relative;
}
.postLikes {
    font-weight: 800;
    margin-left: 10px;
}


@media (min-width: 1800px) {
    .bottom-nav {
        display: none !important;
    }
}

@media (max-width: 2142px) {
    .Sidebar {
        left: 110px;
        top:5%;
        width:300px;
        height: 250px;
    }
    .usersbar {
        right:7% !important;
        top:5%;
        width: 305px !important;
        height: 870px;
        font-size: 1rem;
    }
    .suggestedUsers {
        font-size: 1.2rem !important;
    }
    .mainfeed {
        width: 40%; /* Adjust as needed */
        margin: 0 auto !important; /* Center the mainfeed */
        top: 5%;
    }

    
}






@media (max-width: 1800px) {
    .mainfeed, .bottom-nav {
        box-sizing: border-box !important; /* Include padding and border in the width */
    }
    html {
        background-color: black !important;
    }
    .Sidebar {
        display: none;
        width: 50% !important;
        left: 25%;
        top:3%;
    }
    .usersbar {
      display: none;
      width: 50% !important;
      left: 25%;
      top:3%;
    }
    .mainfeed {
        position: relative;
        width: 850px !important;
        margin: auto 0;
        top:0%;
        border-left:.5px solid rgb(65, 65, 65);
        border-right:.5px solid rgb(65, 65, 65);
    }

    .bottom-nav {
        background-color: #1f2227 !important;
        position: fixed;
        margin: auto 0;
        bottom: -.5%;
        width: inherit; /* Inherit the width from the parent */
    }

    
    .profile-container {
        left: 0 !important;
        top:0% !important;
        width: 95% !important;
        border-radius: 0% !important;
        color:white;
    }
    .profile-header-details {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            width: 75% !important;
    }
    
}