.mainfeed {
    width: 30%;
    padding:3rem;
    background-color: #15181c;
    border-radius: 3%;
    position:absolute;
    left: 31%;
    top:5%;
}
.addPost {
    width:25%;
    margin-top: 1rem !important;
    
}
.userpost {
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
}

.userpost-footer {
    display:flex;
    justify-content: space-between;
}
.apost {
    display: flex;
    width:100%;
    gap:2rem;
    margin: 2.5rem 0rem;
}

.pfp-img-container {
    width: 100%;
}
.pfp-img-container img {
    width: 100%;
}

.mainpost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upperpost {
    display: flex;
    align-items: center;
    width: 100%;
    gap:1rem;
}
.usertags {
    display: flex;
    flex-direction: row;
}
.upperpost p {
    height: 0px;
}
.post-msg {
    width: 100%;
}

.post-message {
    padding: 1rem;
}

.textField_label {
    color:white !important;
}


.post-btns {
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.post-btn {
    color:#343a40;
}

.replying-to {
    font-size: .8rem;
}

.usernameTag {
    color:grey;
}
.like-icon {
    position: relative;
}
.postLikes {
    font-weight: 800;
    margin-left: 10px;
}

.bottom-nav {
     background-color: #1f2227 !important;
     width: 99.9%;
     position: fixed;
     bottom: 0;
     margin-left: -3rem;
     padding: .3rem;
}

@media (min-width: 1800px) {
    .bottom-nav {
        display: none !important;
    }
}

@media (max-width: 2142px) {
    .Sidebar {
        left: 110px;
        top:5%;
        width:300px;
        height: 250px;
    }
    .usersbar {
        right:7% !important;
        top:5%;
        width: 305px !important;
        height: 870px;
        font-size: 1rem;
    }
    .suggestedUsers {
        font-size: 1.2rem !important;
    }
    .mainfeed {
        width: 40% !important;
        left: 26%;
        top:5%;
    }
}

@media (max-width: 1800px) {
    html {
        background-color: #15181c !important;
    }
    .Sidebar {
        display: none;
    }
    .usersbar {
      display: none;
    }
    .mainfeed {
        width: 95% !important;
        left: 0%;
        top:0%;
        border-radius: 0%;
    }
    .profile-container {
        left: 0 !important;
        top:0% !important;
        width: 95% !important;
        border-radius: 0% !important;
        color:white;
    }
    .profile-header-details {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
            width: 75% !important;
    }
    
}