.mainfeed {
    width: 27%;
    padding:3rem;
    background-color: #15181c;
    border-radius: 3%;
}
.addPost {
    width:25%;
    margin-top: 1rem !important;
}
.userpost {
    display:flex;
    flex-direction: column;
}
.apost {
    display: flex;
    width:100%;
    gap:2rem;
    margin: 2.5rem 0rem;
}

.pfp-img-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    width: 10%;
    height: 100%;

}
.pfp-img-container img {
    width: 100%;
}

.mainpost {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.upperpost {
    display: flex;
    flex-direction:column;
    width: 100%;
}
.usertags {
    display: flex;
    flex-direction: row;
    gap:1rem;
}
.upperpost p {
    height: 0px;
}

.post-message {
    padding: 1rem;
}

.textField_label {
    color:white !important;
}


.post-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.post-btn {
    color:#343a40;
}

.replying-to {
    font-size: .8rem;
}

.usernameTag {
    color:grey;
    font-size: .9rem;
    padding-top:3px ;
}
.like-icon {
    position: relative;
}
.postLikes {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 800;
}