.usersbar {
    position: fixed;
    right:10%;
    top:5%;
    width: 405px;
    background-color: #15181c;
    border-radius: 3%;
    height: 870px;
    padding: 2rem;
}

.suggestedUsers {
    display: flex;
    flex-direction: column;
    gap:.5rem;
    font-size: 1.4rem;
}

.randUser {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.randUser-username {
    font-size: 1rem;
}

.stalk-Randuser {
    width: 40% !important;
    padding:0rem !important;
}