.profile-container {
    width: 30% ;
    background-color: #15181c;
    padding: 3rem;
    padding-top:5rem ;
    margin: 0 auto !important;
    border-left:.5px solid rgb(65, 65, 65);
    border-right:.5px solid rgb(65, 65, 65);
}
.profile-container {
    overflow-y: hidden;
}
.profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.profile-nav {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #282e33f5;

}

.feedChange {
    flex:1;
}
.profile-header-username {
    font-weight: 800;

}
.profile-header-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.profile-postAmount {
    margin-top: -1rem ;

}
.profile-header-tags {
    display: flex;
    flex-direction: column;
}
.editProfile {
    height: 0%;
}

/* Profile details */
.profile-user-tags {
    display: flex;
    flex-direction: column;
}

.profile-bio {
    margin-top: 1rem;
    max-width: 300px; /* Set a maximum width */
    word-break: break-all;
  }

.profile-user-tags > * {
    margin: 0.3rem; 
}
.user-follow-details {
    display: flex;
    gap:1.5rem;
}
.profile-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    gap: 1rem;
}

.profile-pfp {
    width:160px;
    height: 130px;
}

.pfp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.alignadd {
    cursor: pointer;

}
.profile-pfp-container {
    width:160px;
    height: 160px;
    position: relative;
}
.changePFP {
    opacity: 0;
  }

.pfp:hover {
    opacity: 50%;

  }
.pfp-img-container:hover {
  opacity: 1;
}
.pfp:hover + .changePFP {
    opacity: 75;
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.usertags{
    display: flex;
    flex-direction: column;
}
.usertags:before{
    margin-top: -10px;

}

.goback-btn {
    margin-bottom: -1rem !important;
    width: 50px;
}



.editingBio {
    background-color: rgb(35, 35, 73); 
    padding: 2rem;
    border-radius: 5%;
    width: 500px;
    z-index: 999;
    position: absolute;
}
.bioInput {
    display: flex;
    gap: 1rem;
}
.bioChangeBtn {
    background-color: forestgreen;
    border: none;
    border-radius: 5%;
    width: 10rem;
}

.editingBio-header {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 590px) {
    .editingBio {
        width: 400px;
    }
    .profile-details {
        flex-direction: column;
    }
    .profile-pfp {
        height: 120px;
        margin: 2rem 0rem;
    }

}

@media (max-width: 490px) {
    .editingBio {
        width: 300px;
    }
    .bioInput {
        flex-direction: column;
    }
    .bioChangeBtn {
        padding: .5rem;
    }
}