.profile-container {
    position:absolute;
    left: 30%;
    top:5%;
    width: 27%;
    padding:3rem;
    background-color: #15181c !important;
    border-radius: 3%;
    color:white;
}

.profile-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.profile-nav {
    display: flex;
    margin-top: 1rem;
    margin-bottom: -2rem;
    border-bottom: 1px solid #282e33f5;

}

.feedChange {
    flex:1;
}
.profile-header-username {
    font-weight: 800;

}
.profile-header-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.profile-postAmount {
    margin-top: -1rem ;

}
.profile-header-tags {
    display: flex;
    flex-direction: column;
}
.editProfile {
    height: 0%;
}

/* Profile details */
.profile-user-tags {
    display: flex;
    flex-direction: column;
}

.profile-user-tags > * {
    margin: 0.3rem; /* Adjust the margin on individual elements */
}
.profile-bio {
    margin-top: 1rem;
}
.user-follow-details {
    display: flex;
    gap:1.5rem;
}
.profile-details {
    display: flex;
    align-items: center;
    gap:1rem;
    margin-top: 2rem;
}

.profile-pfp {
    width:150px;
    height: 90px;
}

.profile-pfp img {
    width: 100%;
    height: 100%;
}

.usertags{
    display: flex;
    flex-direction: column;
}
.usertags:before{
    margin-top: -10px;

}
