.Sidebar {
    position: fixed;
    left: 15%;
    top:5%;
    width:300px;
    display:flex;
    justify-content: center;
    height: 250px;
    background-color: #15181c;
    border-radius: 3%;
    padding: 1.3rem 0rem;
    z-index: 999;
}

.sideBar-Icon {
    color:white;
}

@media (max-width: 2146px) {

    .usersbar {
        top:5%;
        width: 305px !important;
        height: 870px;
        font-size: 1rem;
    }
    .suggestedUsers {
        font-size: 1.2rem !important;
    }


    
}