html, body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color:white;
    font-family: 'Playpen Sans';

  }
  :root {
    --text-base-font-size: 1rem;
    --text-base-line-height: 1.5rem;
  
    --text-lg-font-size: 1.125rem;
    --text-lg-line-height: 1.75rem;
  
    --text-xl-font-size: 1.25rem;
    --text-xl-line-height: 1.75rem;
  
    --text-2xl-font-size: 1.5rem;
    --text-2xl-line-height: 2rem;
  
    --text-3xl-font-size: 1.875rem;
    --text-3xl-line-height: 2.25rem;
  
    --text-4xl-font-size: 2.25rem;
    --text-4xl-line-height: 2.5rem;
  
    --text-5xl-font-size: 3rem;
    --text-5xl-line-height: 1;
  
    --text-6xl-font-size: 3.75rem;
    --text-6xl-line-height: 1;
  
    --text-7xl-font-size: 4.5rem;
    --text-7xl-line-height: 1;
  
    --text-8xl-font-size: 6rem;
    --text-8xl-line-height: 1;
  
    --text-9xl-font-size: 8rem;
    --text-9xl-line-height: 1;
  }

button {
  cursor: pointer;
}

a {
  text-decoration-style: none;
}

li, ul {
  list-style-type: none !important;
  padding-inline-start: 0px;
}

.post-separator {
  width: 100%;
  height: 1px;
  border:1px solid #292929;
  margin-top: 1rem; 
}

/* .homepage { */
  /* display:flex;
  justify-content: center;
  gap:5rem;
  margin-top: 3rem; */
/* } */

Button { /* MATERIAL UI BUTTON tag */
  cursor: pointer;
  color: White;
  font-family: 'Playpen Sans';

} 

.pfp-img-container {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 80px;
}

.pfp-img-container img {
  max-width: 100%;
  height: auto;
}

.alertBox {
  display: absolute;
  top:0;
}
